<div class="control-section">
  <!-- sample level element  -->
  <div class="col-lg-12 col-sm-12 col-md-12 center">
    Click/Touch the button to view the sample
  </div>
  <div class="col-lg-12 col-sm-12 col-md-12 center">
    <a class="e-btn" id="newTab" (click)="newTabClick()" target="_blank">Open in new Tab</a>
  </div>
  <!-- sample level element  -->
  <div id="wrapper">
    <div class="col-lg-12 col-sm-12 col-md-12" id="sidebar-section">
      <div class="col-lg-12 col-sm-12 col-md-12">
        <!--header-section  declaration -->
        <div class="main-header" id="header-section">
          <ul class="header-list">
            <li class="float-left header-style icon-menu" id="hamburger" (click)="openClick()"></li>
            <li class="float-left header-style nav-pane"><b>Angular CRUD example</b></li>
          </ul>
        </div>
        <!--end of header-section  declaration -->
        <!-- sidebar element declaration -->
        <ejs-sidebar id="sidebar-treeview" class="dock-menu" #sidebarTreeviewInstance [width]='width'
          [mediaQuery]='mediaQuery' [target]='target'>
          <div class="main-menu">
            <div class="table-content">
              <p class="main-menu-header">TABLE OF CONTENTS</p>
            </div>
            <div>
              <!-- Treevie element declaration -->
              <ejs-treeview #tree id="main-treeview" [fields]='field' (nodeClicked)='nodeSelected($event)'>
              </ejs-treeview>
            </div>
          </div>
        </ejs-sidebar>
        <!-- end of sidebar element -->

        <!-- main-content declaration -->
        <div class="main-content" id="main-text">
          <div class="sidebar-content">
            <h2 class="sidebar-heading">Patient Repository</h2>
            <p class="paragraph-content"><img src="assets/sample.jpg">
              This is an example of using Angular with Syncfusion and with a Spring Boot REST API.
              The grid below provides simple CRUD operations for the API. Additionally,
              when inserting a new record with "Add", and uploading an image, a match percentage
              is calculated based on the difference in image charasteristics with a sample picture shown here.
            </p>
            <div class="line"></div>

            <app-patient-list></app-patient-list>

          </div>
        </div>
        <!-- end of main-content -->
      </div>
    </div>
  </div>
</div>
