/* Header-section styles */
#header-section.main-header {
  border-bottom: 1px solid #d2d6de;
  height: 55px;
  min-height: 55px;
  max-height: 55px;
  background: #1c86c8;
  color: #fff;
}

#header-section .header-style {
  line-height: 40px;
  height: 40px;
  padding: 8px;
  list-style: none;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
}

#header-section .border-left {
  border-left: 1px solid #d2d6de;
  width: 10em;
}

#header-section .float-left {
  float: left;
}

#header-section .icon-menu {
  width: 40px;
}

.sb-content-tab #wrapper {
  display: none;
}

.center {
  text-align: center;
  display: none;
  font-size: 13px;
  font-weight: 400;
  margin-top: 20px;
}

.sb-content-tab .center {
  display: block;
}

#header-section .float-right,
#sidebar-treeview .e-treeview .e-icon-collapsible,
#sidebar-treeview .e-treeview .e-icon-expandable {
  float: right;
}

#header-section .header-list,
#sidebar-treeview .e-treeview,
#sidebar-treeview .e-treeview .e-ul {
  padding: 0;
  margin: 0;
}

@media (max-width: 800px) {
  #header-section .support {
    display: none;
  }

  #header-section .nav-pane {
    width: 75%;
  }
}

/* Main-menu-header styles */
#sidebar-treeview .main-menu .main-menu-header {
  color: #656a70;
  padding: 15px;
  font-size: 14px;
  width: 13em;
  margin: 0;
}

/* Table of content area styles */
#sidebar-treeview .table-content {
  padding: 20px;
}

/* Content area styles */
#main-text.main-content {
  overflow: hidden;
  width: 100%;
}

#main-text .sidebar-content .line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 20px 0;
}

#main-text .sidebar-content {
  padding: 15px;
}

#main-text .sidebar-heading {
  color: #1c86c8;
  margin: 20px 0;
  padding: 2px;
}

#main-text .paragraph-content {
  padding: 5px;
  font-weight: 300;
  color: grey;
}

#main-text .paragraph-content img {
  margin-top: -5px;
  width: 100px;
  height: 100px;
  float: right;
}

#sidebar-treeview #main-treeview .icon {
  font-family: "fontello";
  font-size: 16px;
}

#header-section.main-header .icon-menu::before {
  content: "\e801";
  font-family: "fontello";
  font-size: 27px;
}

#sidebar-treeview #main-treeview .icon-microchip::before {
  content: "\e806";
}

#sidebar-treeview #main-treeview .icon-thumbs-up-alt::before {
  content: "\e805";
}

#sidebar-treeview #main-treeview .icon-docs::before {
  content: "\e802";
}

#sidebar-treeview #main-treeview .icon-th::before {
  content: "\e803";
}

#sidebar-treeview #main-treeview .icon-code::before {
  content: "\e804";
}

#sidebar-treeview #main-treeview .icon-chrome::before {
  content: "\e807";
}

#sidebar-treeview #main-treeview .icon-up-hand::before {
  content: "\e810";
}

#sidebar-treeview #main-treeview .icon-bookmark-empty::before {
  content: "\e811";
}

#sidebar-treeview #main-treeview .icon-help-circled::before {
  content: "\e813";
}

#sidebar-treeview #main-treeview .icon-doc-text::before {
  content: "\e812";
}

#sidebar-treeview #main-treeview .icon-circle-thin::before {
  content: "\e808";
}
